include ../templates/head

article
    .container
        h3 Changelog
        p I started this changelog a bit late. Apologies.
        h4 0.1.8
        p 27th Feb 13
        ul
            li Switched Jade HTML output from compressed to "pretty" indented HTML.
        h4 0.1.7
        p 25th Feb 13
        ul
            li Removed unnecessary CoffeeScript dependency..
        h4 0.1.6
        p 25th Feb 13
        ul 
            li Fixed Google Analytics Bug which appeared after module rewrite.
        h4 0.1.5
        p 25th Feb 13
        ul
            li Large improvements to base stylesheet
            li Removed header. Footer only.
            li Changed typography to 'ems'.
            li Changed to softer colours.  
        h4 0.1.4
        p 24th Feb 13
        ul
            li Implemented a css minification step in Jott Build step.

        h5.metadata Posted on February 24th 2013
        hr
include ../templates/footer
