include ../templates/head

article
    .container
        h3 Changelog
        hr
        h4 0.1.8
        ul
            li Switched Jade HTML output from compressed to "pretty" indented HTML.
        p.metadata 27th Feb 13
        hr
        h4 0.1.7
        ul
            li Removed unnecessary CoffeeScript dependency..
        p.metadata 25th Feb 13
        hr
        h4 0.1.6
        ul 
            li Fixed Google Analytics Bug which appeared after module rewrite.
        p.metadata 25th Feb 13
        hr
        h4 0.1.5
        ul
            li Large improvements to base stylesheet
            li Removed header. Footer only.
            li Changed typography to 'ems'.
            li Changed to softer colours.  
        p.metadata 25th Feb 13
        hr
        h4 0.1.4
        ul
            li Implemented a css minification step in Jott Build step.
        p.metadata 24th Feb 13
        hr
        p Unfortunately I didn't think to have the foresight to start this changelog immediately. Feel free to browse through the commits to see earlier versions.

        h5.metadata Posted on February 24th 2013
        hr
include ../templates/footer
