include ../templates/head

article
    .container
        h3 Code Demo
        p Here is some code:
        pre.prettyprint.lang-coffee
            | @variable = 'Jott is great'
            | unless @variable is 'undefined'
            |   console.log @variable
        h5.metadata Posted on February 19th 2013
        hr
include ../templates/footer
