include ../templates/head

article
    .container
        h3 Installation
        p 
            | Jott is installable from the 
            a(href='http://npmjs.org/', target='_blank') npm registry.
            |  It requires the global '-g' flag to run.
        pre.prettyprint
            | sudo npm install jott -g
        p To create a new Jott site, create a directory and execute the init command.
        pre.prettyprint
            | mkdir jott_site
            | cd jott_site
            | jott init
        p You will then be asked to an enter a name for your blog. This can be changed later by editing the jott.json file in your project's root directory.
        pre
            | Enter your Blog's name 
            | -> <Blog name>
        p Jott will then ask you for a baseUrl. Again, this can be changed in the jott.json file, and if you leave it blank, will default to http://localhost/project_dir
        pre
            | Enter your Blog's Base URL,
            | Eg: "localhost/blogtest" or "www.joeblogs.com"
            | (This can be changed in jott.json at anytime.)
            | http://example.com

        p: a(href='#{baseUrl}/posts/usage.html') Read the usage docs here.

        h5.metadata Posted on February 24th 2013
        hr
include ../templates/footer
