include ../templates/head

article
    .container
        h3 Overview
        p Jott is an 'opionated', static blog generator for Node.js hackers.
        p The opinions are as follows:
        ul
            li Navigations, tagging, headers, categories and metadata are superflous for blogging.
            li Jade is superior to Markdown for people who familiar with node.js
            li The sole purpose of a blog post is for people to read it. 
        p Jott is available via the NPM.
        p: a(href='#{baseUrl}/posts/installation.html') Read the installation docs here.
        h5.metadata Posted on February 24th 2013
        hr
include ../templates/footer
