html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=0.5')
        title Jott Blog
        link(rel='stylesheet', href='#{baseUrl}/www/css/c.min.css')
        if (typeof(googleAnalytics) !== 'undefined')
            script(type='text/javascript')
                var _gaq = _gaq || [];
                    _gaq.push(['_setAccount', '#{googleAnalytics}']);
                    _gaq.push(['_trackPageview']);
                    (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                    })();
    body
        header
            include ../header
