html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=0.5')
        title Jott Blog
        link(rel='stylesheet', href='www/css/c.min.css')
    body
        header
            include ../header
