include templates/head
article
    .container
        h3 Welcome
        p If you want to come back to this index, click the header title.
        
        include templates/list

//include templates/footer
