include templates/header

article
    .container
        h3 Welcome
        p If you want to come back to this index, click header title
        p A list of posts is below:
        
        include list

//include templates/footer
