body{color:#202020;background:#dccdcc;font-family:"Palatino Linotype",Palatino,Palladio,"URW Palladio L","Book Antiqua",Baskerville,"Bookman Old Style","Bitstream Charter","Nimbus Roman No9 L",Garamond,"Apple Garamond","ITC Garamond Narrow","New Century Schoolbook","Century Schoolbook","Century Schoolbook L",Georgia,serif;line-height:1.5;letter-spacing:1.5;font-size:1.3125em}
h1,h2,h3,h4,h5,p{margin:.1em 0}
ul,ol{padding:1em 0 0 1em}
li{padding-bottom:.5em}
a,a:hover,a:visited{color:#dccdcc;text-decoration:none;cursor:pointer}
.container{max-width:35em;min-width:280px;margin:auto}
header{padding:20px 0;background:#202020;color:#dccdcc;margin-bottom:50px;font-weight:300}
header h1{font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif}
article p{margin:20px 0}
article a,article a:hover,article a:visited{color:#202020;font-style:italic}
article a:hover{color:#636363}
.metadata{font-size:.5em;margin-top:40px;font-weight:normal;display:block;text-align:right}
.red_article{background:#500000}
.blue_article{background:#03031e}
footer{position:absolute;bottom:0;padding:20px 0;margin-top:50px;background:#202020;color:#dccdcc;left:0;right:0;margin-right:auto;margin-left:auto}
@media (max-width: 767px){body{padding:0}
.container{padding:20px}
}