//black = #202020
//white = rgb(220,220,200)

black = #202020
//black = rgb(220,220,200)
white = rgb(244,244,244)

baseLineHeight = 1.5
baseFontSize = 1.4em
baseBorderRadius = 5px

body
	height 100%
	color black
	background white
	font-family "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif
	line-height 1.5
	letter-spacing 1.5
	font-size baseFontSize
	margin 0px
	padding 0px
	position relative
	bottom 4px

h1, h2, h3, h4, h5, p
	margin 0.1em 0

ul, ol
	padding 1em 0 1em 1em

li
	padding-bottom 0.5em

.container, .container-fluid
	max-width 35em
	min-width 280px
	margin auto

header
	width 100%
	padding 0px
	background black
	color white
	& h1
		font-family "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
		font-weight 100
	& h1 a.title
		font-size 24px
		color white

header .container
	padding 0 20px

a, a:hover, a:visited
	color black
	text-decoration none
	cursor pointer

article
	& h3
		font-size 250%
		background url(http://i.imgur.com/Cr1MimO.png) no-repeat top right
		background-size contain
		font-weight normal
	& h4
		font-size 125%
		font-weight normal
	& p, ul, li, a
		margin 20px 0px
		font-size 100%
		line-height baseLineHeight
		font-family "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
	& a, a:hover, avisited
		color black
		font-style italic
		background rgba(255,255,168,0.5)
		font-weight 300
	& a:hover
		background rgba(255,255,168,1)
	& img
		border white solid 10px
		box-shadow #e0e0e0 3px 3px
		box-sizing border-box
	padding 50px 0px

a.archive
	font-size 150%
	line-height 70px
	font-family "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif
	color black
	width 100%
	display block

a.archive:hover
	color lighten(black, 30%)
	

.metadata
	font-size 50%
	font-family sans-serif
	margin-top 40px
	font-weight normal
	display block
	text-align right

.red_article
	background rgb(80,0,0)

.blue_article
	background rgb(3,3,30)

footer
	position absolute
	font-family "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
	bottom 0px
	width 100%
	margin-top 50px
	background black
	color white
	left 0
	right 0
	margin-right auto
	margin-left auto
	& h1,a.title
		font-size 100%
		color white

@media (max-width: 767px)
	body
		padding 0px
		font-size 1em
	.container, .container-fluid
		padding 20px
	a.archive
		font-size 30px
		line-height 50px
		

//
// Code (inline and blocK)
// --------------------------------------------------


// Inline and block code styles
code, pre 
  padding 0 3px 2px
  font-family 'Monospace'
  border-radius 3px
  font-size baseFontSize


// Inline code
code 
	padding 2px 4px
	color #d14
	background-color #f7f7f9
	border 1px solid #e1e1e8
	white-space nowrap


// Blocks of code
pre 
	font-family monospace, sans-serif
	font-size 90%
	background #ffffff
	display block
	padding 10px
	margin 0 0 baseLineHeight
	line-height baseLineHeight
	word-break break-all
	word-wrap break-word
	white-space pre
	white-space pre-wrap
	border 1px solid #ccc
	border 1px solid rgba(0,0,0,.15)
	border-radius baseBorderRadius

	// Make prettyprint styles more spaced out for readability
	&.prettyprint 
		margin-bottom baseLineHeight
		font-size 90%
		font-family monospace, serif

	// Account for some code outputs that place code tags in pre tags
	code 
		padding 0
		color inherit
		white-space pre
		white-space pre-wrap
		background-color transparent
		border 0

// Enable scrollable blocks of code
.pre-scrollable 
	max-height 340px
	overflow-y scroll
