include ../templates/head

article
    .container
        h3 Code Test
        p Here is a code test.
        pre.prettyprint.lang-js
            | var thing = 'dave';
        h5.metadata Posted on February 24th 2013
        hr
include ../templates/footer
