.pln{color:#4d4d4c}
pre.prettyprint{background:#FFF;font-family:Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;font-size:12px;line-height:1.5;border:1px solid #ccc;padding:10px}
ol.linenums{margin-top:0;margin-bottom:0}
@media screen {
.str{color:#718c00}
.kwd{color:#8959a8}
.com{color:#8e908c}
.atv{color:#3e999f}
.typ,.fun{color:#4271ae}
.lit,.atn,.dec{color:#f5871f}
.pun,.opn,.clo{color:#4d4d4c}
.tag,.var{color:#c82829}
}
@media print,projection {
.com{color:#600;font-style:italic}
.typ{color:#404;font-weight:700}
.lit{color:#044}
.pun,.opn,.clo{color:#440}
.atn{color:#404}
.str,.atv{color:#060}
.kwd,.tag{color:#006;font-weight:700}
}
